@font-face {
    font-family: "f";
    src: url(font/upcel.ttf);
    font-weight: normal;
}

@font-face {
    font-family: "f";
    src: url(font/upceb.ttf);
    font-weight: bold;
}

:root {
    --green: #7cb432;
    --green-rgb: rgb(124, 180, 50);
    --blue: #149da1;
}

* {
    padding: 0;
    margin: 0;
    font-family: 'f', Segoe UI, Tahoma, Geneva, Verdana, sans-serif;
}

pre {
    white-space: pre-wrap;
}

p {
    margin-bottom: 0;
}

.cursor:hover {
    cursor: pointer;
}

.fs-18px {
    font-size: 16px;
}

.text-dark-80{
    color: #343a40;
}

.line {
    height: 40px;
    border-top: 1px solid;
    text-align: center;
    font-weight: bold;
    font-style: italic;
}

.line .text {
    position: relative;
    font-size: 36px;
    top: -28px;
    background-color: #f8f9fa;
    padding-left: 20px;
    padding-right: 20px;
}

.dropdown-h {
    border: 2px solid var(--green);
    border-top-left-radius: 0.375rem;
    border-top-right-radius: 0.375rem;
}

@media (min-width: 992px) {
    .fs-18px {
        font-size: 18px;
    }

    .line .text {
        font-size: 56px;
        top: -43px;
    }
}